@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #EDD6A5   ;
  --secondary-color: #664429 ;
  --accent1-color: #32302D;
  --accent2-color: #76949F;

  /* change the values below to your chosen font(s) */
  --heading-font: Satisfy;
  --paragraph-font: "Shadows Into Light";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #32302D;  /* headlines on a white background */ 
  --headline-color-on-color: #EDD6A5; /* headlines on a colored background */ 
  --paragraph-color-on-white: #76949F; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #EDD6A5; /* paragraph text on a colored background */ 
  --paragraph-background-color: #664429 ;
  --nav-link-color: #EDD6A5;
  --nav-background-color: #32302D;
  --nav-hover-link-color: #664429;
  --nav-hover-background-color: #EDD6A5;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #32302d;
    padding: 20px 0;
    width: 100%;
}

.content-container {
    
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width:100%;
    
}
#logo img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    
    
}

nav {
    display:flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #edd6a5;
    font-size: 24px;
    font-family: "Quicksand";
}

nav a:hover {
    text-decoration: solid;
    color:#76949f ;
    text-decoration: underline;
}
#hero{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
#hero-box{ 
    display: grid;
    grid-area: 1/1/6/6;

}#hero-img{
    grid-area: 1/1/6/6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
   
}


#hero-msg{
    grid-area: 3/3/4/4;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #edd6a5;
    display: grid;
    background-color: rgba(0,0,0,0.5);
    

}
.home-title{
    
    color:#664429 ;
    font-size: 48px;
    background-color: rgba(255,255,255,0.8);
    

}


#progress-header{
    grid-column:1/-1;
    text-align: center;
    font-family: "Quicksand";
    font-size: 60px;
    margin-bottom: 2px;
}
#progress{ 
    display:grid;
    grid-template-columns: 32% 32% 36%;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
    
}



#moon, #unlucky, #third{
    text-align: center;
    font-family: "Quicksand";
    font-size: 24px;
    overflow: hidden;

}
#third img{
    margin-bottom:20px;
}
#moon img, #unlucky img, #third img{
    width: 100%;
    height: 100%;

}

.sign {
    display: grid;
    width: 100%;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    
    padding: 0;
}


.sign-box {
    display: grid;
    width: 100%;
    
    max-width: 100%;
    height: auto;
   
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 0 auto;
}


#sign-img {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

footer {
    padding: 25px 50px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
    background-color: #32302d;
    width: 100%;
    margin-top: 0;
}

footer p {
    margin: 0; 
    color: #edd6a5;
    font-family: 'Quicksand';
}

footer a {
    font-family: "quicksand";
    
    text-decoration: none;
    color: #edd6a5;
    font-size: 18px;
    margin: 0 20px; 
}

footer a:hover {
    color: #76949f;
    text-decoration: underline; 
}


/* CSS FOR AUTHOR PAGE */



.quote-container{
    padding-top: 40px;
    position: relative;
    overflow: hidden;
}

.quote-container img{
    display: block;
}

.quoteMsg{
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}


.middle-header {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: bold;
    background: var(--accent1-color);
    color: var(--headline-color-on-color);
    padding: 20px 0;
    margin: 50px 0;
}


.author-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    column-gap: 15px
}

.author-container img{
    width: ;
    height: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.author-container p{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    font-size: 30px;
    text-align: center;
    font-family: var(--paragraph-font);
    color:var(--paragraph-color-on-white)
}