body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #32302d;
    padding: 20px 0;
    width: 100%;
}

.content-container {
    
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width:100%;
    
}
#logo img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    
    
}

nav {
    display:flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #edd6a5;
    font-size: 24px;
    font-family: "Quicksand";
}

nav a:hover {
    text-decoration: solid;
    color:#76949f ;
    text-decoration: underline;
}
#hero{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
#hero-box{ 
    display: grid;
    grid-area: 1/1/6/6;

}#hero-img{
    grid-area: 1/1/6/6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
   
}


#hero-msg{
    grid-area: 3/3/4/4;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #edd6a5;
    display: grid;
    background-color: rgba(0,0,0,0.5);
    

}
.home-title{
    
    color:#664429 ;
    font-size: 48px;
    background-color: rgba(255,255,255,0.8);
    

}


#progress-header{
    grid-column:1/-1;
    text-align: center;
    font-family: "Quicksand";
    font-size: 60px;
    margin-bottom: 2px;
}
#progress{ 
    display:grid;
    grid-template-columns: 32% 32% 36%;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
    
}

.projectcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.projectcontainer section {
    margin: auto;
    width: 100%;
    background-color: grey;
    
}
.shortstorybox {
    background-color: grey;
    margin: auto;
    text-align: center;
    width: 100%;
}
.project1 img{
    display: flex;
    width: 50%;
    padding-top: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.projectcontainer section h1{
    margin: auto;
    text-align: center;

}
.projecttitle{
    text-align: center;
    width: 100%;
}
p{
    text-indent: 50px;
}
























#moon, #unlucky, #third{
    text-align: center;
    font-family: "Quicksand";
    font-size: 24px;
    overflow: hidden;

}
#third img{
    margin-bottom:20px;
}
#moon img, #unlucky img, #third img{
    width: 100%;
    height: 100%;

}

.sign {
    display: grid;
    width: 100%;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    
    padding: 0;
}


.sign-box {
    display: grid;
    width: 100%;
    
    max-width: 100%;
    height: auto;
   
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 0 auto;
}


#sign-img {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

footer {
    padding: 25px 50px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
    background-color: #32302d;
    width: 100%;
    margin-top: 0;
}

footer p {
    margin: 0; 
    color: #edd6a5;
    font-family: 'Quicksand';
}

footer a {
    font-family: "quicksand";
    
    text-decoration: none;
    color: #edd6a5;
    font-size: 18px;
    margin: 0 20px; 
}

footer a:hover {
    color: #76949f;
    text-decoration: underline; 
}



    